
@{
    ViewBag.Title = "BasicDetail";
}

<h2>BasicDetail</h2>

<div class="button">
    <button class="cbutton" onclick="Hobby()">Hobby</button>
    <button class="cbutton" onclick="Education()">Education</button>
    <button class="cbutton" onclick="Experience()">Experience</button>
    <button class="cbutton" onclick="Skills()">Skills</button>
</div>


