
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table style="border:solid 1px">
        <thead  >
            <tr>
                <th style="border: solid 1px; padding: 5px">Education </th>
                <th style="border: solid 1px; padding: 5px">School/Colleges</th>
                <th style="border: solid 1px; padding: 5px">Year of Passout</th>
             </tr>
        </thead>
        <tbody style="border:solid 1px">
            <tr>
                <td style="border: solid 1px; padding: 5px">10 Std</td>
                <td style="border: solid 1px; padding: 5px">Baldwin Boys High School</td>
                <td style="border: solid 1px; padding: 5px">2013</td>
            </tr>
            <tr>
                <td style="border:solid 1px;padding:5px">12 Std</td>
                <td style="border: solid 1px; padding: 5px">Manipur Public School</td>
                <td style="border: solid 1px; padding: 5px">2015</td>
            </tr>
            <tr>
                <td style="border: solid 1px; padding: 5px">Btech</td>
                <td style="border: solid 1px; padding: 5px">SVCET</td>
                <td style="border: solid 1px; padding: 5px">2020</td>
            </tr>
        </tbody>
</table>