
@{
    ViewBag.Title = "Experience";
}
 
<h2 id="skill-title">Experience</h2>
<ul class="exp">
    <li>Experience of 1 year in frontend development</li>
    <li>Worked on building UI using Reactjs</li>
    <li>Used AntD , MaterialUI </li>
    <li>Reactstrap</li>
    <li>Redux</li>
</ul>


