
@{
    ViewBag.Title = "Hobby";
}

<h2>Hobby</h2>
<h2>My hobbies are:-</h2>
<ul>
    <li>playing guitar</li>
    <li>gardening</li>
    <li>listening to music</li>
    <li>watching web series</li>
    <li>playing football</li>
</ul>

