
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div class=" ">
    <form action="Register" method="post">
        <label>Name :</label><br/>
        <input type="text" name="name" class="form-name" /><br />
        <label>Education :</label><br />
        <input type="text" name="education" class="form-" /><br />
        <label>Skills :</label><br />
        <input type="text" name="skills" class="" /><br />
        <label>Experience :</label><br />
        <input type="text" name="experience" class="" /><br/>
        <label>Hobby :</label><br />
        <input type="text" name="hobby" class="" /><br/><br/>
        <input type="submit" name="submit" class="btn-success" />
    </form>
</div>


