
@{
    ViewBag.Title = "Soram";
}
<br/>
<br/>
<p class="para">Hi my name is Soram Wanglen.<br/> I'm currently working as a software associate consultant at Gyansys Infotech.<br/> Currently
    I'm undergoing training in .NET MVC. <br/>
    Looking forward to completing the course.</p>

